<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wpi.meetingbuddy.meetingbuddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
        android:name=".ApplicationManager">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!--<activity android:name=".MainActivity">-->

        <!--</activity>-->

        <!-- UserLoginActivity -->
        <activity
            android:name=".UserLoginActivity"
            android:label="MeetingBuddy" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- CreateAccountActivity -->
        <activity
            android:name=".CreateAccountActivity"
            android:label="Create Account"
            android:parentActivityName=".UserLoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wpi.meetingbuddy.meetingbuddy.UserLoginActivity" />
        </activity>

        <!-- MyMeetingActivity -->
        <activity
            android:name=".MyMeetingActivity"
            android:label="My Meetings"
            android:parentActivityName=".MyMeetingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wpi.meetingbuddy.meetingbuddy.MyMeetingActivity" />
        </activity>

        <!-- CreateMeetingActivity -->
        <activity
            android:name=".CreateMeetingActivity"
            android:label="@string/title_activity_create_meeting"
            android:parentActivityName=".MyMeetingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wpi.meetingbuddy.meetingbuddy.MyMeetingActivity" />

            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PeopleSearchActivity"
            android:label="Add People"
            android:parentActivityName=".CreateMeetingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wpi.meetingbuddy.meetingbuddy.CreateMeetingActivity" />
        </activity>

        <activity
            android:name=".LocationSelectorActivity"
            android:label="Select Meeting Location"
            android:parentActivityName=".CreateMeetingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wpi.meetingbuddy.meetingbuddy.CreateMeetingActivity" />
        </activity>

        <!-- StudentMeetingActivity -->
        <activity android:name=".StudentMeetingActivity"
            android:label="Meeting"
            android:parentActivityName=".MyMeetingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wpi.meetingbuddy.meetingbuddy.MyMeetingActivity" />
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <!--FindAvailabilityActivity -->
        <activity android:name=".FindAvailabilityActivity">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- OrganizerMeetingActivity -->
        <activity android:name=".OrganizerMeetingActivity"
            android:label="Meeting"
            android:parentActivityName=".MyMeetingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wpi.meetingbuddy.meetingbuddy.MyMeetingActivity" />
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".GeofenceTransitionsIntentService"/>

    </application>

</manifest>